<div class="row">
	<div class="col-sm-2">
			<div class="list-group">
				<a  ng-repeat="puto in awesomeThings" class="list-group-item {{tenso==puto?'active':''}}"  ng-click="troca(puto)">{{puto}}</a>
			</div>
	</div>
	<div class="col-sm-7">
		<div class="row">
			<input type="text" ng-model="tenso" />
		</div>
		<div class="row">
			<span class="label label-default">{{tenso}}</span>
		</div>
	</div>
	<div class="col-bg-2">
		<button class="btn btn-warning" type="button" ng-click="chamento()"><span class="glyphicon glyphicon-scissors" aria-hidden="true"/>       Teste</button>
	</div>
</div>

